[submodule "gnus-ai"]
	path = gnus-ai
	url = ../../gnus-ai.git
[submodule "ZoKrates"]
	path = ZoKrates
	url = https://github.com/ZoKrates/ZoKrates
	ignore = dirty
[submodule "sushi-assets"]
	path = sushi-assets
	url = ../../sushi-assets.git
